# Generic
__pycache__/
.venv/
.vscode

# Flatpak build files
repo/
.flatpak-builder
build-dir
build/flatpak/flatpak-pip-generator.py
build/flatpak/python3-modules.json

# Flatpak package
NOMM.flatpak

# AUR build
build/aur/*
!build/aur/.SRCINFO
!build/aur/PKGBUILD

# gtk resources
resources.gresource