/* Launcher buttons */

.refresh-fab {
    box-shadow: 0 6px 16px rgba(0,0,0,0.5);
    background-color: var(--accent-bg-color, #3584e4);
    color: var(--accent-fg-color);
    border: none;
    border-radius: 99px;
    opacity: 1;
}

.refresh-fab:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 20px var(--accent-bg-color, #3584e4);
}

.refresh-fab image {
    -gtk-icon-size: 32px;
}

.dl-tabs-pbar{
    opacity: 1;
    margin: 0;
    padding: 0px 1px;
    min-width: 0;
    background-color: transparent;
}

.dl-tabs-pbar > trough {
    min-width: 0;
    min-height: 34px;
    border-radius: 8px;
    background-color: transparent;
}

.dl-tabs-pbar > trough > progress {
    min-width: 0;
    min-height: 34px;
    border-radius: 0px;
    background-color: var(--accent-bg-color, #3584e4);
}