/* A whole bunch of stuff for the main mods list */
.dashboard-list {
    border-radius: 15px;
    background-color: shade(var(--card-bg-color), 0.4);
}
.dashboard-list row {
    transition: background-color 300ms ease-in-out;
}
.dashboard-list row:last-child {
    border-radius: 0 0 15px 15px;
}
.dashboard-list row:first-child {
    border-radius: 15px 15px 0 0;
}
.dashboard-list row:hover {
    background-color: alpha(var(--accent-bg-color), 0.1);
}
.dashboard-list row:selected {
    background-color: alpha(var(--accent-bg-color), 0.3);
}

/* Used for the scroll box around the main list (otherwise the shadow doesn't show up)*/
.shadow-box {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.floating-close-btn {
    border-radius: 9999px;
    padding: 8px;
    background-color: var(--window-bg-color);
    /* move button to outside of the preview on the left */
    margin-left: -13px; 
}

.floating-close-btn:hover {
    color: var(--accent-color);
}