.fomod-dialog {

}

.title-1 {
    font-size: 18px;
}

.title-2 {
    font-size: 12px;
    font-weight: normal;
}

.desc {
    font-size: 12px;
}

.description-btn {
    margin: 0px;
    border-radius: 0;
    background-color: shade(@card_bg_color, 0.4);
}

.description-btn:hover {
    background-color: shade(@card_bg_color, 0.2);
}

.boxed-list {
    background-color: shade(@card_bg_color, 0.8);
    border-radius: 10px 0px 0px 0px;
}

.boxed-list row {
    border-radius: 0;
    outline: none;
}

.boxed-list row:first-child {
    border-radius: 15px 0 0 0;
}

.boxed-list row:selected {
    background-color: transparent;
    border-radius: 10px 0px 0px 0px;
}

.boxed-list row:focus {
    outline: none; /* Supprime le liseré bleu par défaut */
}

.boxed-preview {
    background-color: shade(@card_bg_color, 0.6);
    border-radius: 0px 10px 0px 0px;
    min-width: 200px;
}

.footer-box {
    background-color: @card_bg_color;
    padding: 15px 30px;
    border-radius: 0px 0px 10px 10px;
}

.install-btn {
    background-color: var(--accent-bg-color, #3584e4);
    color: @window_fg_color;
}

.fomod-preview-image {
    padding: 15px;
}

.show-desc-icon {
    background-color: transparent;
    color: @accent_color;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    border-radius: 6px;
    min-width: 10px;
    min-height: 10px;
}

.show-desc-icon:hover {
    background-color: alpha(@accent_bg_color, 0.2);
    -gtk-icon-style: symbolic;
    transition: background-color 200ms ease-in-out;
}