.title-1 {
    font-size: 18px;
}

.desc {
    font-size: 12px;
}

.boxed-preview {
    background-color: shade(@card_bg_color, 0.6);
    border-radius: 0px 10px 0px 0px;
    min-width: 200px;
}

.install-btn {
    background-color: var(--accent-bg-color, #3584e4);
    color: @window_fg_color;
}

