.utility-pbar{
    opacity: 1;
    padding: 8px 0px;
    background-color: transparent;
}

.utility-pbar > trough {
    min-height: 34px;
    border-radius: 10px;
    padding:0;
    min-width: 60px;
    background-color: transparent;
}

.utility-pbar > trough > progress {
    min-height: 34px;
    border-radius: 0px;
    padding:0;
    background-color: var(--accent-bg-color);
}

.btn-download-before {
    background-color: shade(@card_bg_color, 0.8);
}