/* Dashboard Tab Styling */
togglebutton {
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0;
}

.overlay-tab {
    border-radius: 0;
    border: none;

    background-image: none;
    
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 2px;

    background-color: rgba(0, 0, 0, 0.85); 
    color: rgba(255, 255, 255, 0.6);
    
    transition: all 0.3s ease;
}

.overlay-tab:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.overlay-tab:checked {
    background-color: rgba(0, 0, 0, 0.1); 
    color: white;
    border-bottom: 6px solid var(--accent-bg-color);
    text-shadow: 0 2px 10px rgba(0,0,0,0.5);
}