.success {
    color: #2ec27e; /* GNOME Green */
}

.error {
    color: #e01b24; /* GNOME Red */
}

.setup-page {
    opacity: 0;
}

.setup-page.visible {
    opacity: 1;
}

.window-background {
    color: rgba(255, 255, 255, 0.1);
}